body {
    margin: 0;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #cacaca;
    padding: 1rem;
    margin-top: 1rem;
    min-height: 100px;
}

.upper {
    display: flex;
    flex-direction: column;
}

.lower {
    border: 10px solid rgb(75, 75, 75);
    display: flex;
    flex-direction: row;
}

.draggable {
    background-color: rgba(255, 255, 255, 0.507);
    cursor: move;
}

.high{
    width: 500px;
}

.low{
    height: 300px;
}

.draggable.dragging {
    opacity: .65;
}

.button {
    font-size: xx-large;
    margin-left: 15px;
    padding: 30px;
    border: none;
    border-radius: 2pt;
    box-shadow: 0 0 0 1pt grey;
    outline-color: transparent;
}